<!DOCTYPE html>
<html>

<head>
	<!-- <meta charset="utf-8">
	<title>控制后台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

</head>

<body>
	<iframe src="../../component/pdf/在线教育综合大数据分析系统.pdf" type="application/pdf" width="100%" height="900px"></iframe>
	<!-- <object data="../../component/pdf/在线教育综合大数据分析系统.pdf" type="application/pdf" width="100%" height="100vh"></object> -->
</body>

</html>

</script>